@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

//primary
$brightBlue: hsl(220, 98%, 61%);
$checkBackground: hsl(192, 100%, 67%), hsl(280, 87%, 65%);

//light theme
$veryLightGray: hsl(0, 0%, 98%);
$veryLightGrayishBlue: hsl(236, 33%, 92%);
$lightGrayishBlue: hsl(233, 11%, 84%);
$darkGrayishBlue: hsl(236, 9%, 61%);
$veryDarkGrayishBlue: hsl(235, 19%, 35%);
$white: rgb(255, 255, 255);

//dark theme
$veryDarkBlue: hsl(235, 21%, 11%);
$veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$dark-lightGrayishBlue: hsl(234, 39%, 85%);
$darkHover: hsl(236, 33%, 92%);
$dark-darkGrayishBlue: hsl(234, 11%, 52%);
$dark-veryDarkGrayishBlue: hsl(233, 14%, 35%);
$dark-veryDarkGrayishBlue-2: hsl(237, 14%, 26%);

$font-family: "Josefin Sans", sans-serif;

$mediaBreakpoints: (
    mobile: 23.4375rem,
    tablet: 48rem,
    desktop-sm: 64rem
);

@mixin media-query($size) {
    @media (min-width: map-get($mediaBreakpoints, $size)) {
        @content;
    }
}

@mixin transition($property) {
    transition: $property .2s ease-in-out;
}